<div class="container mediumHeightForm">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">


    <app-header></app-header>

    <div class="titleOfView"><span *ngIf="!isSubscriber">{{"login.title" | translate}}</span></div>

    <div *ngIf="error" class="error">
      <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
    </div>

    <div class="form-group">
      <label [class.text-danger]="error" class="label">{{"login.email" | translate}}</label>
      <input [(ngModel)]="email" type="email" name="email" [class.is-invalid]="error" class="form-control input-field" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label [class.text-danger]="error" class="label">{{"login.password" | translate}}</label>
      <input [(ngModel)]="password" name="password" [class.is-invalid]="error" type="password" class="form-control input-field" placeholder="Enter password">
    </div>
    <button (click)="login()" class="btn bigButton btn-outline-dark">{{"login.loginNow" | translate}}</button>
    <div class="label paddingTop link"><a href="#" routerLink="/forgot-password">{{"login.forgottenPassword" | translate}}</a></div>

  </div>
</div>
