<div class="container">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">
    <form class="shortHeightForm">

    <app-header></app-header>

      <ng-container *ngIf="!userCreatedSuccessfully">

        <div class="titleOfView">{{"createUser.title" | translate}}</div>

        <div *ngIf="error" class="error">
          <small class="text-danger">
            <span>
              <img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
          </small>
        </div>

        <ng-container *ngIf="errorList.length > 0">
          <div [class.text-danger]="error" *ngIf="errorList[0].field === 'fullName'" class="label font-weight-bold">{{errorList[0].errors}}</div>
        </ng-container>
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.fullName" | translate}}</label>
          <input [(ngModel)]="fullName" type="text" name="fullName" [class.is-invalid]="error" class="form-control input-field">
        </div>
        <ng-container *ngIf="errorList.length > 0">
          <div [class.text-danger]="error" *ngIf="errorList[0].field === 'email'" class="label font-weight-bold">{{errorList[0].errors}}</div>
        </ng-container>
        <div class="form-group">
          <label [class.text-danger]="errorList.indexOf('email') >= 0" class="label">{{"form.email" | translate}}</label>
          <input [(ngModel)]="email" type="email" name="email" [class.is-invalid]="errorList.indexOf('email') >= 0" class="form-control input-field">
        </div>
        <ng-container *ngIf="errorList.length > 0">
          <div [class.text-danger]="error" *ngIf="errorList[0].field === 'company'" class="label font-weight-bold">{{errorList[0].errors}}</div>
        </ng-container>
        <div class="form-group" *ngIf="companies.length > 0">
          <label [class.text-danger]="errorList.indexOf('company') >= 0" class="label">{{"form.company" | translate}}</label>
          <ng-select class="custom" (change)="selectedCompany($event)">
            <ng-option *ngFor="let company of companies" [value]="company.companyUrl">{{company.companyName}}</ng-option>
          </ng-select>
        </div>
        <ng-container *ngIf="errorList.length > 0">
          <div [class.text-danger]="error" *ngIf="errorList[0].field === 'groups'" class="label font-weight-bold">{{errorList[0].errors}}</div>
        </ng-container>
        <div class="form-group" *ngIf="groups.length > 0">
          <label [class.text-danger]="errorList.indexOf('role') >= 0" class="label">{{"form.role" | translate}}</label>
          <ng-select class="custom" (change)="selectedGroup($event)">
            <ng-option *ngFor="let group of groups" [value]="group.groupUrl">{{group.groupName}}</ng-option>
          </ng-select>
        </div>
        <div class="row">
          <div class="col">
            <button routerLink='../' type="button" class="btn bigButton btn-outline-dark">{{"form.goBack" | translate}}</button>
          </div>
          <div class="col">
            <button (click)="createUser()" type="submit" class="btn bigButton btn-outline-dark">{{"form.create" | translate}}</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="userCreatedSuccessfully">
        <br>
        <p class="successMessage">
          {{"createUser.success" | translate}}
          <b>{{email}}</b>
          <br>
          <br> {{"createUser.thankYou" | translate}}
        </p>
      </ng-container>

    </form>
  </div>
</div>
