<div class="container">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">
    <form class="mediumHeightForm">

    <app-header></app-header>

      <div class="titleOfView">{{"form.title" | translate}}</div>

      <div class="description">
        Enter your email address below and we will send you the next steps to reset your password.
      </div>

      <br>

      <ng-container *ngIf="!emailSent">

        <div *ngIf="errorMessage" class="error">
          <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
        </div>

        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.email" | translate}}</label>
          <input [(ngModel)]="email" type="email" name="email" [class.is-invalid]="error" class="form-control input-field" placeholder="Enter email">
        </div>

        <div class="row">
          <div class="col-6">
            <button routerLink="../" type="button" class="btn bigButton btn-outline-dark">{{"form.goBack" | translate}}</button>
          </div>
          <div class="col-6">
            <button (click)="resetPassword()" type="submit" class="btn blackButton bigButton">{{"form.confirm" | translate}}</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="emailSent">
        <div class="alert alert-success font-italic">
          {{successMessage}}
        </div>

        <button routerLink="../" type="button" class="btn bigButton btn-outline-dark">{{"form.goBack" | translate}}</button>
      </ng-container>
    </form>
  </div>
</div>
