<div class="container mediumHeightForm">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">

    <app-header></app-header>
    <div class="titleOfView">{{"role.title" | translate}}</div>

    <div class="userInformation">{{userEmail}} <span class="userGroup">({{userGroup}})</span></div>

    <div *ngIf="error" class="error">
      <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
    </div>

    <div class="paddingDown" *ngIf="userType === 'super_admin'">
      <button routerLink="../super-admin/users" type="button" class="btn bigButton btn-outline-dark">{{"role.superAdmin" | translate}}</button>
    </div>
    <div class="paddingDown" *ngIf="userType === 'super_admin' || userType === 'sales_admin'">
      <button routerLink="../sales/companies" type="button" class="btn bigButton btn-outline-dark">{{"role.companies" | translate}}</button>
    </div>
    <div class="paddingDown" *ngIf="userType === 'client_admin'">
      <button routerLink="../company/subscribers" type="button" class="btn bigButton btn-outline-dark">{{"role.clientAdmin" | translate}}</button>
    </div>
    <div class="paddingDown">
      <button routerLink="../../connectors" type="button" class="btn bigButton btn-outline-dark">{{"role.manageConnectors" | translate}}</button>
    </div>
    <div class="paddingDown">
      <button (click)="logOut()" type="button" class="btn bigButton btn-outline-dark">{{"role.logout" | translate}}</button>
    </div>

  </div>
</div>
