<div class="container">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">
    <form class="shortHeightForm">

    <app-header></app-header>


      <ng-container *ngIf="validKey && !successMessage">

        <div class="titleOfView">{{"acceptInvite.createSubscriber" | translate}}</div>

        <div *ngIf="error" class="error">
          <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
        </div>

        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.fullName" | translate}}</label>
          <input [(ngModel)]="fullName" type="text" name="fullName" [class.is-invalid]="error" class="form-control input-field">
        </div>
        <div class="form-group" *ngIf="inviteType == 'publicInvite'">
          <label [class.text-danger]="error" class="label">{{"form.email" | translate}}</label>
          <br>
          <ng-container *ngIf="errorsList">
          <label [class.text-danger]="error" *ngIf="errorsList[0].field == 'email'" class="label font-weight-bold">{{errorsList[0].errors}}</label>
          </ng-container>
          <input [(ngModel)]="email" type="text" name="emaul" [class.is-invalid]="error" class="form-control input-field">
        </div>
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.password" | translate}}</label>
          <ng-container *ngIf="errorsList">
          <label [class.text-danger]="error" *ngIf="errorsList[0].field == 'password'" class="label font-weight-bold">{{errorsList[0].errors}}</label>
          </ng-container>
          <input [(ngModel)]="password" name="password" [class.is-invalid]="error" type="password" class="form-control input-field">
        </div>
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.retypePassword" | translate}}</label>
          <ng-container *ngIf="errorsList">
          <label [class.text-danger]="error" *ngIf="errorsList[0].field == 'password'" class="label font-weight-bold">{{errorsList[0].errors}}</label>
          </ng-container>
          <input [(ngModel)]="passwordConfirmation" name="passwordConfirmation" [class.is-invalid]="error" type="password" class="form-control input-field">
        </div>
        <button (click)="createUser()" type="submit" class="btn bigButton btn-outline-dark">{{"form.create" | translate}}</button>
      </ng-container>

      <ng-container *ngIf="!validKey && !successMessage">
        <br>
        <div class="error">
          <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
        </div>
      </ng-container>

      <ng-container *ngIf="successMessage">
        <br>
        <div class="alert alert-success font-italic">{{successMessage}}</div>
        <br>
        <button routerLink='/admin/login' type="button" class="btn bigButton btn-outline-dark">{{"form.goToLogIn" | translate}}</button>
      </ng-container>

    </form>
  </div>
</div>
