<div class="adminPageStyle mediumHeightForm">
<div class="container page-width-400px">
  <app-header></app-header>
    <div class="titleOfView">{{"addDomain.viewTitle" | translate}}</div>

    <div *ngIf="successMessage" class="alert alert-success font-italic">
      {{successMessage}}
    </div>

    <div *ngIf="errorMessage" class="error">
      <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
    </div>

    <div>{{"addDomain.domain" | translate}}</div>
    <div>
      <input [(ngModel)]="domainValue" class="input-field full-width" type="text">
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <button (click)="goBack()" class="btn btn-outline-dark full-width">{{"addDomain.back" | translate}}</button>
      </div>
      <div class="col-6">
        <button (click)="createDomain(domainValue)" class="btn btn-outline-dark full-width">{{"addDomain.create" | translate}}</button>
      </div>
    </div>
</div>
</div>
