<div class="adminPageStyle">

  <div class="container">

    <app-header></app-header>
    <div class="titleOfView">{{"companies.title" | translate}}</div>

    <br>

    <div *ngIf="successMessage" class="alert alert-success font-italic">
      {{successMessage}}
    </div>

    <div class="row buttonRow">
      <a routerLink="add">
    <button type="button" class="btn btn-outline-dark text-uppercase">+&nbsp;&nbsp;{{"companies.addCompany" | translate}}</button>
    </a>
    </div>

    <!-- loading spinner -->
    <div *ngIf="loading"  class="loadingSpinner">
        <div class="loader"></div>
      </div>
    <!-- End of loading spinner -->

    <div class="row">
      <div class="col text-uppercase columnName">{{"companies.companyName" | translate}}</div>
      <div class="col-2 text-uppercase columnName">{{"companies.createdOn" | translate}}</div>
      <div class="col-2 text-uppercase columnName">{{"companies.lastChangedOn" | translate}}</div>
      <div class="col-1 text-uppercase columnName"># {{"companies.seats" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"companies.edit" | translate}}</div>
      <div class="col-2 text-uppercase columnName">{{"companies.connectors" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"companies.domains" | translate}}</div>
    </div>
    <div class="row paddingTop" *ngFor="let company of companies | sortAlphabetically: 'name' ">
      <div class="col detail text-uppercase">{{company.name}}</div>
      <div *ngIf="company.created_at" class="col-2 detail">{{company.created_at | amLocal | amDateFormat: 'DD/MM/YYYY'}}</div>
      <div *ngIf="company.updated_at" class="col-2 detail">{{company.updated_at | amLocal | amDateFormat: 'DD/MM/YYYY'}}</div>
      <div class="col-1 detail">{{company.num_subscriptions}}</div>
      <div routerLink="{{company.uuid}}/update" class="col-1 detail">
        <img class="smallIcon" src="assets/icons/edit.svg">
      </div>
      <div routerLink="{{company.uuid}}/connectors" class="col-2 detail">
        <img class="smallIcon" src="assets/icons/connectors.svg">
      </div>
      <div class="col-1 detail">
        <a (click)="cleanService()" routerLink="{{company.uuid}}/domains">@</a>
      </div>
    </div>
    <br>
    <div class="row buttonRow">
      <button type="button"  routerLink="/" class="btn btn-outline-dark text-uppercase">{{"users.backHome" | translate}}</button>
    </div>
  </div>
</div>
