<div class="adminPageStyle">

  <div class="container">

    <app-header></app-header>
    
    <div class="titleOfView">{{"users.title" | translate}}</div>

    <br>

    <div *ngIf="successMessage" class="alert alert-success font-italic">
      {{successMessage}}
    </div>
    <div class="row buttonRow">
      <button routerLink="add" class="btn btn-outline-dark text-uppercase">+&nbsp;&nbsp;{{"users.addUser" | translate}}</button>
    </div>
    <div class="row">
      <!-- loading spinner -->
      <div *ngIf="loading" class="loadingSpinner">
        <div class="loader"></div>
      </div>
      <!-- End of loading spinner -->
      <div class="col-3 text-uppercase columnName">{{"users.userEmail" | translate}}</div>
      <div class="col-2 text-uppercase columnName">{{"users.fullName" | translate}}</div>
      <div class="col text-uppercase columnName">{{"users.companyName" | translate}}</div>
      <div class="col text-uppercase columnName">{{"users.role" | translate}}</div>
      <div class="col text-uppercase columnName">{{"users.createdOn" | translate}}</div>
      <div class="col text-uppercase columnName">{{"users.lastLogin" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"users.editUser" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"users.status" | translate}}</div>
    </div>
    <div class="row paddingTop" *ngFor="let user of users | sortAlphabetically: 'email'">
      <div class="col-3 detail" [class.disabled]="user.is_active == false">{{user.email}}</div>
      <div class="col-2 detail text-capitalize" [class.disabled]="user.is_active == false">{{user.first_name}} {{user.last_name}}</div>
      <div class="col detail" [class.disabled]="user.is_active == false">{{user.company.name}}</div>
      <div class="col text-capitalize detail" *ngIf="user.hasOwnProperty('access_level')" [class.disabled]="user.is_active == false">{{user.access_level | replaceUnderscore}}</div>
      <div class="col text-capitalize detail" *ngIf="!user.hasOwnProperty('access_level')" [class.disabled]="user.is_active == false">N/A</div>
      <div class="col detail" [class.disabled]="user.is_active == false">
        <ng-container *ngIf="user.created_at">{{user.created_at | amLocal | amDateFormat: 'DD/MM/YYYY'}}</ng-container>
      </div>
      <div class="col detail" [class.disabled]="user.is_active == false">
        <ng-container *ngIf="user.last_login">{{user.last_login | amLocal | amDateFormat: 'DD/MM/YYYY'}}</ng-container>
      </div>
      <div (click)="updateUser(user)" class="col-1 columnName" [class.disabled]="user.is_active == false">
        <img class="smallIcon" src="assets/icons/edit.svg">
      </div>
      <div class="col-1 columnName">
        <label class="switch">
        <input (click)="changeStatus(user)" type="checkbox" [checked]="user.is_active">
        <span class="slider round"></span>
        </label>
      </div>
    </div>
    <br>
    <div class="row buttonRow">
      <button type="button" routerLink="/" class="btn btn-outline-dark text-uppercase">{{"users.backHome" | translate}}</button>
    </div>
  </div>
</div>
