<div class="adminPageStyle">

  <div class="container">

    <app-header></app-header>

    <div class="titleOfView">Company {{companyInfo.name}}</div>

    <div *ngIf="successMessage" class="alert alert-success font-italic">
      {{successMessage}}
    </div>

    <div class="row">
      <div class="col-6 nopadding">
        <button routerLink="add" class="btn btn-outline-dark text-uppercase">+&nbsp;&nbsp; {{"domains.addDomain" | translate}}</button>
      </div>
    </div>

    <br>

    <div class="row">
      <!-- loading spinner -->
      <div *ngIf="loading" class="loadingSpinner">
        <div class="loader"></div>
      </div>
      <!-- End of loading spinner -->
      <div class="col-8 text-uppercase columnName">{{"domains.domain" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"domains.edit" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"domains.delete" | translate}}</div>
    </div>

    <ng-container *ngIf="companyInfo.domains.length > 0">
      <div class="row paddingTop" *ngFor="let domain of companyInfo.domains">
        <div class="col-8 detail text-uppercase">{{domain.name}}</div>
        <div [routerLink]="['update', {'domainURL': domain.url, 'companyURL': companyInfo.url}]" class="col-1 detail">
          <img class="smallIcon" src="assets/icons/edit.svg">
        </div>
        <div (click)="deleteDomain(domain.url)" class="col-1 detail">
          <img class="smallIcon" src="assets/icons/delete.svg">
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="companyInfo.domains.length == 0">
      <div class="bodyMessage">There are no domains added in this company</div>
    </ng-container>

    <br>
    <div class="row buttonRow">
      <button type="button" routerLink="/" class="btn btn-outline-dark text-uppercase">{{"inviteUser.goBack" | translate}}</button>
    </div>

  </div>

</div>
