<div class="container mediumHeightForm">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">

    <app-header></app-header>

    <div class="titleOfView">{{"changePassword.title" | translate}}</div>


    <ng-container *ngIf="passwordChanged">
      <div class="alert alert-success">
        {{"changePassword.passwordChangeSuccess" | translate}}
      </div>

      <button routerLink="/admin/login" type="submit" class="btn bigButton btn-outline-dark">{{"form.goToLogInSuccess" | translate}}</button>
    </ng-container>

    <ng-container *ngIf="!passwordChanged">
      <div *ngIf="error" class="error">
        <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
      </div>

      <div class="form-group">
        <label [class.text-danger]="error" class="label">{{"changePassword.newPassword" | translate}}</label>
        <input [(ngModel)]="password" name="password" [class.is-invalid]="error" type="password" class="form-control input-field">
      </div>

      <div class="form-group">
        <label [class.text-danger]="error" class="label">{{"changePassword.enterNewPassword" | translate}}</label>
        <input [(ngModel)]="password2" name="password2" [class.is-invalid]="error" type="password" class="form-control input-field">
      </div>

      <button (click)="changePassword()" type="submit" class="btn bigButton btn-outline-dark">{{"changePassword.change" | translate}}</button>
    </ng-container>

  </div>
</div>
