<div class="adminPageStyle">

  <div class="container">

    <app-header></app-header>
    <div class="titleOfView">{{"subscribers.title" | translate}}</div>

    <br>

    <div class="row buttonRow">
      <div class="col-6 nopadding">
        <button routerLink="invite" class="btn btn-outline-dark text-uppercase">+&nbsp;&nbsp;{{"subscribers.inviteSubscribers" | translate}}</button>
      </div>
      <div class="col-6 text-right" (click)="openModal(template)">
        <span class="iconPosition">
            <img class="shareIcon" src="assets/icons/share.svg">
        </span>
        <span class="invitationLink">
          SHARE INVITATION LINK
        </span>
      </div>
    </div>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Share invitations link</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
      </div>
      <div class="modal-body">
        <div class="description">
          Use the following link to invite subscribers to your company connectors. Send / Share the link and people can register to HamzaSite using it, be aware that you have a maximum number of licenses. To increase them, please contact support@HamzaSite.com
        </div>
        <div class="row copyLinkSection">
          <div class="col-9 pr-0">
            <input type="text" class="inputField" [value]="publicInviteUrl">
          </div>
          <div class="col-3 pl-0 float-right">
            <button (click)="copyLink()" class="btn blackButton text-uppercase" *ngIf="!copied">Copy</button>
            <button class="btn blackButton greenButton text-uppercase" *ngIf="copied">
              <span class="checkMark">&#10004;</span>
              </button>
          </div>
        </div>
      </div>
    </ng-template>

    <div *ngIf="sent" class="alert alert-success font-italic">
      {{successMessage}}
    </div>

    <div class="row">
      <div class="col text-uppercase columnName">{{"subscribers.fullName" | translate}}</div>
      <div class="col-5 text-uppercase columnName">{{"subscribers.userName" | translate}}</div>
      <div class="col text-uppercase columnName">{{"subscribers.lastActive" | translate}}</div>
      <div class="col text-uppercase columnName">{{"subscribers.status" | translate}}</div>
      <div class="col-1 text-uppercase columnName">{{"subscribers.edit" | translate}}</div>
      <div class="col text-uppercase columnName"></div>
    </div>
    <ng-container>
      <div class="row paddingTop" *ngFor="let user of subscribers">
        <div class="col detail" [class.disabled]="user.status == 'inactive'">{{user.user.first_name}} {{user.user.last_name}}</div>
        <div class="col-5 detail" [class.disabled]="user.status == 'inactive'">{{user.user.email}}</div>
        <div class="col detail" [class.disabled]="user.status == 'inactive'">
          <ng-container *ngIf="user.user.last_login">{{user.user.last_login | amLocal | amDateFormat: 'DD/MM/YYYY'}}</ng-container>
        </div>
        <div class="col detail">
          <label class="switch">
        <input (click)="changeStatus(user)" type="checkbox" [checked]="user.status == 'active'">
        <span class="slider round"></span>
        </label>
        </div>
        <div (click)="updateSubscriber(user)" class="col-1 columnName" [class.disabled]="user.status == 'inactive'">
          <img class="smallIcon" src="assets/icons/edit.svg">
        </div>
        <div class="col detail">
          <ng-container *ngIf="user.hasOwnProperty('invitationInfo')">
            <span *ngIf="user.invitationInfo.accepted">{{"subscribers.inviteAccepted" | translate}}</span>
            <div *ngIf="!user.invitationInfo.accepted">
              <div class="pointer" (click)="resendInvite(user.invitationInfo.uuid)">{{"subscribers.resendInvitation" | translate}}</div>
            </div>
          </ng-container>
          <span *ngIf="!user.hasOwnProperty('invitationInfo')" class="disabled">{{"subscribers.inviteAccepted" | translate}}</span>
        </div>
      </div>
    </ng-container>
    <br>
    <div class="row buttonRow">
      <button type="button" routerLink="/" class="btn btn-outline-dark text-uppercase">{{"inviteUser.goBack" | translate}}</button>
    </div>
  </div>
</div>
