@import "~variables.scss";

.btn {
  font-size: 12px;
}

.publicInviteUrl {
  padding-top: 5%;
  font-size: 12px;
  color: #454545;
}

.pointer {
  cursor: pointer;
}

.nopadding {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.invitationLink {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.invitationLink:hover{
  text-decoration: underline;
}

.shareIcon {
  width: 11px;
  height: 11px;
}

.iconPosition {
  padding-right: 5px;
}


.inputField {
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 15px;
  font-size: 14px;
  border: 1px solid #F6F4F4;
  border-radius: 3px 0 0 3px;
  background-color: #FFFFFF;
}

.blackButton {
  height: 50px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 0 3px 3px 0;
  background-color: #000000;
}

.greenButton {
  border: 1px solid #49CA65;
  background-color: #49CA65;
}

.copyLinkSection {
  padding-top: 20px;
}

.checkMark {
  font-size: 20px;
}
