.page-505-header {
    font-family: 'Montserrat';
    margin-top: 40px;
    font-weight: 600;
    font-size: 85px;
    color:#222;
}

.page-505-text{
    font-family: "Montserrat";
    font-size: 15px;
    color:#222;
    font-weight: 500;

}

.page-505-buttons {
    padding: 20px;
}

.page-505-buttons .page-505-buttons_home {
    width: 150px;
    height: 52px;
    margin-right: 20px;
}

.page-505-buttons .page-505-buttons_back {
    width: 150px;
    height: 52px;
}