<div class="container">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">
    <form class="shortHeightForm" (ngSubmit)="updateInformation()">

    <app-header></app-header>

      <ng-container>

        <div class="titleOfView">{{"updateCompany.title" | translate}}</div>

        <div *ngIf="error" class="error">
          <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
        </div>

        <ng-container *ngIf="successMessage && !error">
          <div class="alert alert-success font-italic">
            {{successMessage}}
          </div>
          <div>
            <button routerLink="/admin/sales/companies" class="btn bigButton btn-outline-dark">{{"form.goBack" | translate}}</button>
          </div>
        </ng-container>

      <ng-container *ngIf="!successMessage">
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.companyName" | translate}}</label>
          <input [value]="companyData.name" [(ngModel)]="conpanyName" type="text" name="conpanyName" [class.is-invalid]="error" class="form-control input-field">
        </div>
        <ng-container *ngIf="errorList.length > 0">
          <div [class.text-danger]="error" *ngIf="errorList[0].field === 'num_subscriptions'" class="label font-weight-bold">{{errorList[0].errors}}</div>
        </ng-container>

        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"form.noOfLicenses" | translate}}</label>
          <input [value]="companyData.num_subscriptions" [(ngModel)]="noOfLicenses" type="text" name="noOfLicenses" [class.is-invalid]="error" class="form-control input-field">
        </div>
        <div class="row">
          <div class="col">
            <button routerLink="/admin/sales/companies" class="btn bigButton btn-outline-dark">{{"form.cancel" | translate}}</button>
          </div>
          <div class="col">
            <button type="submit" class="btn bigButton btn-outline-dark">{{"form.update" | translate}}</button>
          </div>
        </div>
      </ng-container>

      </ng-container>

    </form>
  </div>
</div>
