.page-404-header {
    font-family: 'Montserrat';
    margin-top: 40px;
    font-weight: 600;
    font-size: 85px;
    color:#222;
}

.page-404-text{
    font-family: "Montserrat";
    font-size: 15px;
    color:#222;
    font-weight: 500;

}

.page-404-buttons {
    padding: 20px;
}

.page-404-buttons .page-404-buttons_home{
    width: 150px;
    height: 52px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
}
.page-404-buttons a:hover {
    color:#fff;
}
.page-404-buttons .page-404-buttons_back {
    width: 150px;
    height: 52px;
    text-align: center;
    padding: 10px;
    color: #fff;
}