<!-- 404 view -->
<div class="container mediumHeightForm">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">

    <app-header></app-header>

      <h1 class="page-404-header">404</h1>
      <p class="page-404-text">{{"page-404.text" | translate}}</p>
      <div class="row buttonRow">
        <div class="row">
          <div class="col-sm-12 page-404-buttons">
            <a [routerLink]="['/admin/home']" ><button  type="button" class="btn  btn-outline-dark page-404-buttons_home">{{"page-404.home" | translate}}</button></a>
            <a href="mailto:support@HamzaSite.com"><button  class="btn  blackButton page-404-buttons_back">{{"page-404.contact" | translate}}</button></a>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End of 404 view -->
