@import "~variables.scss";

.fieldTitle {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  font-family: $font_openSans;
}

.container {
  width: 600px;
}

.inputField {
  width: 100%;
  height: 40px;
  outline: 0;
  font-size: 13px;
  padding-left: 10px;
  color:$logoTextColor;
  border: 1px solid #dedede;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.btn {
  font-size: 12px;
}

.field{
    padding-top:40px;
}
