<div class="adminPageStyle">
  <div class="container">

    <app-header></app-header>

    <div class="titleOfView">{{"updateSubscriber.title" | translate}}
      <b>{{subscriberData.user.email}}</b>
    </div>
    <ng-container *ngIf="successMessage">
      <div class="alert alert-success font-italic">
        {{successMessage}}
      </div>
    </ng-container>
    <div *ngIf="error" class="error">
      <small class="text-danger">
        <span>
          <img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
      </small>
    </div>
    <div class="row field">
      <div class="col-3 fieldTitle">Subscriber name</div>
      <div class="col">
        <input class="inputField" [(ngModel)]="fullName" name="fullName" type="text" [value]="fullName" (change)="fullName = $event.target.value">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-10">
        <button routerLink="../" class="btn btn-outline-dark text-uppercase float-right">CANCEL</button>
      </div>
      <div class="col-2">
        <button (click)="updateSubscriber()" class="btn smallButton text-uppercase blackButton float-right">UPDATE</button>
      </div>
    </div>
  </div>
</div>
