<div class="container">
  <div class="logo paddingTop">HamzaSite DISCOVERY</div>
  <div class="line"></div>
  <div class="row">
    <div class="col-8">
      <div class="searchResultsText" *ngIf="!errorMessage">
        {{numberOfResults}} {{"search.resultsFoundFor" | translate}} &quot;{{searchQuery}}&quot;
        <strong>
          <i>{{numConnectors()}}</i>
        </strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row filter-container">
        <select [(ngModel)]="selectConnector" (ngModelChange)='selectedConnector($event)'>
        <option disabled hidden [value]="defaultSelectionValue">{{"search.selectSource" | translate}}</option>
          <option [value]="showAllResults">{{"search.allResults" | translate}}</option>
         <option *ngFor="let connector of connectorsArray" [value]="connector">{{connector}}</option>
       </select>
      </div>
    </div>
    <div class="col-3">
      <label class="switch">
        <input (click)="showThumbnail()" type="checkbox" [checked]="showThumb == true">
        <span class="slider round"></span>
      </label>
      <p class="switchLabel">{{"search.showThumbnail" | translate}}</p>
    </div>
    <div class="col-5">
      <div class="search-box">
        <form (ngSubmit)="doSearch()" class="search-box-form">
          <input [(ngModel)]="searchFormString" class="form-control search-input"  name="searchFormString" placeholder="Search" />
          <button type="submit" class="btn blackButton" [disabled]="searchFormString == '' || searching">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="searching" class="progress">
    <div class="indeterminate"></div>
  </div>
  <hr *ngIf="!searching" class="col-12">

  <div *ngIf="errorMessage" class="alert alert-danger font-weight-bold">
    {{errorMessage}}
  </div>

  <a routerLink="/connectors" target="_blank">
    <div *ngIf="notLoggedInErrorMessages" class="alert alert-danger font-weight-bold">{{notLoggedInErrorMessages}}</div>
  </a>

  <div *ngFor="let result of filteredResults" class="row rowPadding">
    <div>
      <img *ngIf="(result.connector && showThumb == false) || (!result.image && showThumb == true)" class='icon' src="assets/images/fileIcons/{{result.connector}}.png" />
      <img *ngIf="result.image && showThumb == true" class='icon' src="{{result.image}}" />
    </div>
    <div class="col">
      <div>
        <a *ngIf="result.headline" href={{result.url}} target="_blank">{{result.headline}}</a> |
        <span class="connectorName">{{"search.from" | translate}} {{result.connector}}</span>
      </div>

      <div class="subTitle">
        <ng-container *ngIf="result.folder">
          {{"search.in" | translate}}
          <strong>
            <a *ngIf="result.folder_url" href={{result.folder_url}} target="_blank">{{result.folder}}</a>
          </strong>
          <strong *ngIf="!result.folder_url">{{result.folder}}</strong> |
        </ng-container>
        <span *ngIf="result.authors">{{"search.updatedBy" | translate}}
          <b>{{result.authors}}</b>
        </span> {{"search.at" | translate}} {{result.date | amLocal | amDateFormat: 'DD/MM/YYYY'}}</div>
    </div>
  </div>
</div>