@import "~variables.scss";

.searchResultsText {
  color: #9e9e9e;
  margin-top: 30px;
  font-size: 12px;
  padding: 10px 0px 15px 0px;
}

.switch{
  width: 43px;
  height: 22px;
  margin-top: 10px;
}

.slider:before {
  height: 18px;
  left: 2px;
  right:0px;
  bottom: 2px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.switchLabel{
  font-family: "Open Sans";
  font-size: 13px;
  display: inline-block;
  line-height: 20px;
  position: absolute;
  color: #666;
  display: inline-block;
  padding: 10px 10px 2px 10px;

}

select {
  font-size: 15px;
  color: $logoTextColor;
  outline: none;
}

.connectorName {
  color: #9e9e9e;
  font-size: 13px;
}

.subTitle {
  color: #9e9e9e;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 47px;
}

.selectionList {
  position: absolute;
  right: 0;
  top: 20px;
}
@media only screen and (min-width: 1100px) {
  .icon {
    width: 50px;
    height: 47px;
  }
}
@media only screen and (max-width: 991px) {
  .icon {
    width: 45px;
    height: 43px;
  }

  .col-11 {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 776px) {
  .icon {
    width: 35px;
    height: 33px;
  }

  .col-11 {
    padding-left: 30px;
  }

  .container {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 492px) {
  .icon {
    width: 30px;
    height: 27px;
  }
}

/* Progress Bar */
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 2px;
  background-clip: padding-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.progress .indeterminate {
  background-color: #454545;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.filter-container {
  display: inline-block;
  padding: 0 4px;
  width: 100%;
  height:42px;
}

.filter-container  select {
     width: 60%;
     height: 42px;
     margin: 0;
     border: 0;
     border: 1px solid black;
     background: #fff url('/assets/icons/carret-down.png') no-repeat;
     background-size: 20px;
     background-position:  right 10px center;
     font-family: 'Open Sans';
     font-size: 13px;
     padding-left: 10px;
     -webkit-appearance: none;
     -moz-appearance: none;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
}

/* Search box css*/
.is-vishidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.search-box {
  line-height: 1;
}
.search-box-form {
   position: relative; 
}

.search-input {
  display: block;
  border: 1px solid #000;
}

.search-input {
    width: 100%;
    height:42px;
    padding: 1em;
    padding-right: 7em;
    position: relative;
    top: 0;
}

.search-box  button{
  position: absolute;
  right: 0.75em;
  top: 0.5em;
  bottom: 0.5em;
  z-index: 1;
  width: 6em;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #000;
}
.search-box button:disabled {
  cursor: not-allowed;
}