<div class="container mediumHeightForm">
  <div class="col-lg-6 col-xl-5 col-xs-auto col-md-8 col-sm-10 mx-auto">

      <app-header></app-header>

      <div class="titleOfView">{{"connectors.title" | translate}}</div>

      <br>

      <div class="row paddingDown">
      <!-- loading spinner -->
      <div *ngIf="loading"  class="loadingSpinner">
          <div class="loader"></div>
      </div>
      <!-- End of loading spinner -->
          <div class="col-8 text-uppercase columnName">{{"connectors.name" | translate}}</div>
          <div class="col-2 text-uppercase columnName">{{"connectors.status" | translate}}</div>
      </div>
      <div *ngFor="let companyconnector of companyconnectors">
          <div class="row paddingDown" *ngIf="companyconnector.status != 'inactive' ">
            <div class="col-8">
                <a href="{{companyconnector.connector.login_url}}/{{companyconnector.uuid}}">
                <button *ngIf="!companyconnector.logged_in && companyconnector.connector.login_url" class="btn bigButton btn-outline-dark">{{"connectors.connectTo" | translate}} {{companyconnector.name}}</button>
                </a>
                <div class="connected" *ngIf="companyconnector.logged_in || !companyconnector.connector.login_url">You're connected to {{companyconnector.name}} <ng-container *ngIf="companyconnector.connector.logout_url">| <a class="link" href="{{companyconnector.connector.logout_url}}/{{companyconnector.uuid}}">Log-out</a></ng-container></div>
            </div>
            <div class="col-2 columnName">
                <label class="switch">
                <input (click)="toggleConectorStatus(companyconnector)"  type="checkbox" [checked]="companyconnector.enabled">
                <span class="slider round"></span>
                </label>
              </div>
          </div>
      </div>
      <br>
      <button type="button" routerLink="/" class="btn bigButton btn-outline-dark">{{"connectors.back" | translate}}</button>

  </div>
</div>
