.connected {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

.link{
  color: #0d8dde !important;
}

.switch{
  margin-top: 10px;
  margin-left: 20px;
}

.paddingDown-bottom{
  margin-bottom: 20px;
}