<div class="container">
  <div class="col-lg-5 col-xl-4 col-xs-auto col-md-7 col-sm-9 mx-auto">
    <form class="shortHeightForm">

      <app-header></app-header>

      <ng-container *ngIf="!userRegistredSuccessfully">

        <div class="titleOfView">{{"signUp.title" | translate}}</div>

        <div *ngIf="error" class="error">
          <small class="text-danger">
        <span><img class="exclamationIcon" src="assets/images/exclamation.svg"> {{errorMessage}}</span>
       </small>
        </div>

        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"signUp.fullName" | translate}}</label>
          <input [(ngModel)]="fullName" type="text" name="fullName" [class.is-invalid]="error" class="form-control input-field" placeholder='Enter {{"signUp.fullName" | translate}}'>
        </div>
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"signUp.email" | translate}}</label>
          <input [(ngModel)]="email" type="email" name="email" [class.is-invalid]="error" class="form-control input-field" placeholder='Enter {{"signUp.email" | translate}}'>
        </div>
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"signUp.password" | translate}}</label>
          <input [(ngModel)]="password" name="password" [class.is-invalid]="error" type="password" class="form-control input-field" placeholder='Enter {{"signUp.password" | translate}}'>
        </div>
        <div class="form-group">
          <label [class.text-danger]="error" class="label">{{"signUp.retypePassword" | translate}}</label>
          <input [(ngModel)]="passwordConfirmation" name="passwordConfirmation" [class.is-invalid]="error" type="password" class="form-control input-field" placeholder='Enter {{"signUp.password" | translate}}'>
        </div>
        <button (click)="signUp()" type="submit" class="btn bigButton btn-outline-dark">{{"signUp.register" | translate}}</button>
        <div routerLink="/admin/login" class="label paddingTop link">{{"signUp.alreadyUser" | translate}} <b>{{"signUp.login" | translate}}</b></div>
      </ng-container>

      <ng-container *ngIf="userRegistredSuccessfully">
        <p class="successMessage">
          {{"signUp.success" | translate}} <b>{{email}}</b>
          <br><br> {{"signUp.thankYou" | translate}}
        </p>
      </ng-container>

    </form>
  </div>
</div>
