// @import "../login-page/login-page.component.scss";
@import "~variables.scss";

.successMessage {
  color: $logoTextColor;
  font-family: 'Montserrat';
  font-size: 13px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 19px;
}
