/* You can add global styles to this file, and also import other style files */
//Import fonts
// @import url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
@import '~typeface-montserrat/index.css';
@import '~typeface-lato/index.css';
@import '~typeface-open-sans/index.css'; //@import url('https://fonts.googleapis.com/css?family=Lato');
//SASS variables
@import "variables.scss"; //bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css'; //Style for dropdown selection
@import "~@ng-select/ng-select/themes/default.theme.css";
/* loading spinner that shows before the content loads */
.loadingSpinner {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 46%;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #454545;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* end of loading spinner styling */
.titleOfView {
  font-family: $font_Monserrat;
}
/* Modal style */
.modal-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
}

.modal-header {
  border: 0;
}

.modal-body {
  padding-top: 0;
}

.description {
  color: #999999;
  font-family: $font_openSans;
  font-size: 11px;
  line-height: 15px;
}
/* END */

.cursor-pointer{
  cursor: pointer;
}

.underline-on-hover:hover{
  text-decoration: underline !important;
}

.page-width-400px {
  width: 400px;
}

.full-width {
  width: 100%
}

.smallIcon {
  width: 15px;
  height: 15px;
  opacity: 0.7 !important;
  margin: 0 auto;
  cursor: pointer;
}

.extraSmallIcon {
  width: 11px;
  height: 11px;
  opacity: 0.7 !important;
  cursor: pointer;
}

.alert,
.btn,
.error,
.input-field,
.label,
textarea {
  font-family: $font_openSans;
}

.logo {
  font-family: $font_Monserrat;
  padding-bottom: 10px;
  color: $logoTextColor;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 12px;
}

.rowPadding {
  padding: 7px 13px;
}

a {
  color: inherit !important;
}

.line {
  box-sizing: border-box;
  height: 1px;
  width: 45px;
  border: 2px solid $logoTextColor;
}

.paddingDown {
  padding-bottom: 10px;
}

.titleOfView {
  color: $logoTextColor;
  font-size: 13px;
  font-weight: 500;
  margin: 16px 0;
  line-height: 19px;
}

.error {
  font-style: italic;
  padding: 0 0 15px;
}

.exclamationIcon {
  margin-top: -2px;
  width: 12px;
  height: 12px;
}

.alert-success {
  background: transparent;
  color: #029624;
  font-size: 14px;
}

.successMessage {
  font-family: $font_Monserrat;
  font-size: 13px;
}

.label {
  color: $labelTextColor;
  font-size: 11px;
  line-height: 15px;
}

.link:hover {
  text-decoration: underline;
  outline: none;
}

button:hover {
  outline: none;
}

.bigButton {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.input-field {
  border: 1px solid #F6F4F4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666666;
  font-size: 13px;
  padding: 13px;
}

.btn-outline-dark:before {
  background: white;
}

.paddingTop {
  padding-top: 17px;
}

.noPadding {
  padding: 0 !important;
}

.mediumHeightForm {
  min-height: 97vh;
  display: flex;
  align-items: center;
}

.shortHeightForm {
  margin: 100px auto;
}

.smallButton {
  height: 45px;
  padding: 0 25px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.disabled {
  opacity: 0.4;
}

.share-link-modal {
  width: 350px;
  top: 30%;
}

.blackButton {
  color: white;
  background: black;
}

.blackButton:hover {
  color: white;
  border: 1px solid #454545;
  background: #454545;
}
/* admin pages style (super admin, client admin, sales admin) */
.adminPageStyle {
  .logo {
    font-size: 16px;
  }

  .container {
    margin: 60px auto;
    font-family: $font_Monserrat;
  }

  .columnName {
    color: $logoTextColor;
    font-size: 12px;
    outline: 0;
    font-weight: 600;
  }

  .detail {
    color: #666666;
    font-size: 12px;
    outline: 0;
    font-weight: 500;
  }

  .buttonRow {
    margin: 10px 0 40px;
  }

  .btn {
    padding: 0 20px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
  }
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 29px;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}

label {
  margin-bottom: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(153, 153, 153);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #49CA65;
}

input:focus + .slider {
  box-shadow: 0 0 1px #49CA65;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 4px;
}

.slider.round:before {
  border-radius: 10%;
}
