<div class="container mediumHeightForm">
  <div class="col-lg-7 col-xs-auto mx-auto">

    <app-header></app-header>

    <div class="titleOfView">{{"inviteUser.title" | translate}}</div>

    <div class="infoLabel">{{"inviteUser.infoLabel1" | translate}}</div>

    <small>
      <div class="alert alert-success font-italic" *ngIf="emailsSent">
        <span>{{"inviteUser.emailSent" | translate}} : </span>
        <br>
        <span class="font-weight-bold">{{emailsSent}}</span>
      </div>
      <div class="error" *ngIf="emailsNotSent">
        <div class="text-danger">
          <ng-container *ngIf="error">
            <span><img class="exclamationIcon" src="assets/images/exclamation.svg">{{"inviteUser.errorMessage" | translate}} : {{errorMessage}}</span>
          </ng-container>
          <div>
             <span><img class="exclamationIcon" src="assets/images/exclamation.svg">{{"inviteUser.emailNotSent" | translate}} : </span>
             <br>
             <span class="font-weight-bold">{{emailsNotSent}}</span>
          </div>
        </div>
      </div>
    </small>
    <div>
      {{"inviteUser.youHave" | translate}}
      <span *ngIf="updatedNoOfLicenses == 0 && !showNumberOfLicenses">{{numberOfRemainingLicenses}}</span>
      <span *ngIf="updatedNoOfLicenses > 0 && showNumberOfLicenses">{{updatedNoOfLicenses}}</span> {{"inviteUser.remainingLicenses" | translate}}
    </div>

    <br>

    <div class="row">
      <div class="col-3 label">{{"inviteUser.emailAddresses" | translate}}</div>
      <div class="col-9">
        <textarea [disabled]="numberOfRemainingLicenses == 0" [(ngModel)]="emailAddresses" name="emailAddresses" (ngModelChange)="onKeyUp($event)" class="form-control" rows="3" placeholder="{{'inviteUser.typeEmail' | translate}}"></textarea>
        <div class="infoLabel noPadding">{{"inviteUser.infoLabel2" | translate}}</div>
      </div>
    </div>
    <!-- <br>
    <div class="row">
      <div class="col-3 label">{{"inviteUser.inviteMessage" | translate}}</div>
      <div class="col-9">
        <textarea class="form-control" rows="3" placeholder="Hi, &#10;Welcome to …"></textarea>
      </div>
    </div> -->
    <br>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" routerLink='/admin/company/subscribers' class="btn smallButton btn-outline-dark">{{"inviteUser.cancel" | translate}}</button>
        <button (click)="inviteUser()" type="submit" class="btn smallButton blackButton">{{"inviteUser.invite" | translate}}</button>
      </div>
    </div>
  </div>
</div>
