<div class="adminPageStyle">
  <div class="container">

    <app-header></app-header>

    <div class="titleOfView">{{"connectorsSettings.title" | translate}} for :</div>
    <div>
      <b>{{companyName}}</b>
    </div>
    <br>
    <button (click)="openModal(template)" class="btn btn-outline-dark text-uppercase">+&nbsp;&nbsp;ADD CONNECTOR</button>
    <br>
    <br>
    <div *ngIf="loading"  class="loadingSpinner">
      <div class="loader"></div>
     </div>
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add connector</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="errorTitle" class="alert alert-danger font-weight-bold">
          {{errorTitle}}
          <br>
          <span class="font-weight-normal">{{errorDetail}}</span>
        </div>
        <div class="description">
          Choose a connector from the list
        </div>
        <div class="content">
          <div class="row">
            <ng-select class="custom" [(ngModel)]="company" placeholder="--- choose connector" value="--- choose connector" (change)="selectedConnector($event)">
              <ng-option *ngFor="let connector of connectorsArray " [value]="connector">{{connector.name}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="description padding-bottom">
          Connector name
        </div>
        <div class="padding-bottom">
          <input type="text" [(ngModel)]="connectorName" class="form-control input-field" [value]="connectorName">
        </div>
        <div class="content">
          <div class="row pt-3">
            <button (click)="addConnector(connectorName)" class="btn blackButton text-uppercase" [disabled]="!connectorName">ADD</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #connectorInfo>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Connector {{connectorName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorTitle" class="alert alert-danger font-weight-bold">
          {{errorTitle}}
           <br>
          <span class="font-weight-normal">{{errorDetail}}</span>
        </div>
        <div class="description padding-bottom">
          Connector name
        </div>
        <div class="padding-bottom">
          <input type="text" [(ngModel)]="connectorName" class="form-control input-field" [value]="connectorName">
        </div>
        <div class="description">
          Connection parameters
        </div>
        <div class="content">
          <div class="row">
            <textarea type="text" [(ngModel)]="connectionParameters" class="textField" [value]="connectionParameters"></textarea>
          </div>
          <div class="row pt-3">
            <button (click)="saveSettings(connectionParameters, connectorName)" class="btn blackButton text-uppercase">SAVE</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-container *ngIf="connectors.length > 0">
      <div class="row">
        <div class="col-2 text-uppercase columnName">{{"companyconnector.enable" | translate}}</div>
        <div class="col text-uppercase columnName">{{"companyconnector.connectorType" | translate}}</div>
        <div class="col text-uppercase columnName">{{"companyconnector.connectorName" | translate}}</div>
        <div class="col-1 text-uppercase columnName">{{"companyconnector.edit" | translate}}</div>
        <div class="col-1 text-uppercase columnName">{{"companyconnector.delete" | translate}}</div>
      </div>
      <div class="row paddingTop" *ngFor="let connector of connectors | sortAlphabetically: 'connectorName'">
        <div class="col-2">
          <label class="switch">
            <input (click)="changeStatus(connector, $event)" type="checkbox" [checked]="connector.status == 'active'">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="col detail">{{connector.connectorType}}</div>
        <div class="col detail">{{connector.connectorName}}</div>
        <div (click)="editConnectorInfo(connectorInfo, connector)" class="col-1">
          <img class="extraSmallIcon" src="assets/icons/edit.svg">
        </div>
        <div (click)="deleteConnector(connector)" class="col-1">
          <img class="extraSmallIcon" src="assets/icons/close.svg">
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="connectors.length == 0">

      <div class="alert alert-primary">
        No connector availble for this company, please add a new connector.
      </div>

    </ng-container>
    <ng-template #enableConnectorErrorModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{"companyconnector.enableConnectorError" | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="alert alert-danger font-weight-bold">
            {{"companyconnector.enableConnectorErrorMessage" | translate}}
          </div>
        </div>
      </div>
    </ng-template>
    <br><br>
    <button type="button" routerLink="/admin/sales/companies/" class="btn btn-outline-dark text-uppercase">BACK</button>
  </div>
