@import "~variables.scss";

.connectorParam {
  font-size: 13px;
  color: #454545;
}

.alert{
  font-size: 14px;
}

.container {
  width: 600px;
}

.btn {
  font-size: 12px;
  font-weight: 600;
}

.custom{
  width: 100%;
}

.col{
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.content{
  padding: 15px;
}

.blackButton{
  padding-top: 10px;
  font-weight: 500;
  font-size: 14px;
  height: 50px;
  width: 100%;
}

.textField{
  width: 100%;
  height: 80px;
  outline: none;
  padding: 10px 0 0 15px;
  font-size: 14px;
  border: 1px solid #F6F4F4;
  border-radius: 3px 0 0 3px;
  background-color: #FFFFFF;
}

.padding-bottom{
  padding-bottom: 10px;
}
